<div class="bubble" *ngFor="let message of getMessages()">
  <div class="img-container">
    <img
      title="bubble-image"
      [src]="
        message.sender === 'bot'
          ? './assets/images/AI.svg'
          : './assets/images/human.png'
      "
    />
  </div>
  <div class="bubble-content">
    <span class="date">{{formatTimestamp(message.timestamp)}}</span>
    <p>{{ message.message }} {{ message.text }}</p>
    @if (message.image) {
      <img src="{{ message.image }}" />}
  </div>
</div>
