
.bubble{
  display: flex;
  flex-direction: row;
  width: max-content;
  border-radius: 20px;
  padding: 3px;
  width: 100%;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-container{
  display: flex;
  align-items: center;
  padding-right: 5px;

  img{
    border: 50%;
    height: 48px;
  }
}

.bubble-content{
  background-color: #1c1c1c;
  border-radius: 25px;
  padding: 10px;
}

.showImg{
  display: block;
}

.hideImg{
  display: none;
}

.date{
  font-size: smaller;
  color: gray;
}


