<div class="header-container">
  <header>
    <div class="image">
      <img title="bubble-image" src="./assets/images/AI.svg" />
      <div class="text-box">
        <span id="bot-name">Tina</span>
        <span id="bot-role">AI-Mitarbeiter</span>
      </div>
    </div>
  <div class="header-controls">
    <button mat-icon-button class="send-but"><mat-icon>phone_in_talk</mat-icon></button>
    <button mat-icon-button class="send-but" (click)="openDialog()"><mat-icon>bug_report</mat-icon></button>
    <button mat-icon-button class="send-but"><mat-icon>more_horiz</mat-icon></button>
  </div>
  </header>
</div>
<hr>
