<div class="header-container">
  <header>
    <div class="image">
      <img title="bubble-image" src="./assets/images/AI.svg" />
      <div class="text-box">
        <span id="bot-name">Tina</span>
        <span id="bot-role">AI-Mitarbeiter</span>
      </div>
    </div>
  <div class="header-controls">
    <img title="call-but" src="./assets/images/icon_call.svg">
    <img title="bug-button" src="./assets/images/icon_bug.svg">
    <img src="./assets/images/icon_more.svg" title="more-but">
  </div>
  </header>
</div>
<hr>
