.header-container{
  width: 100vw;
  max-width: 100%;
}

.image
{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 1;
}

.text-box
{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.header-controls{
  display: flex;
  flex-direction: row;
  grid-column: 2;
}

header
{
  margin: 15px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;

}

#bot-name{
  font-weight: 500;
}

#bot-role{
  font-size: small;
  font-weight: 100;
}

hr
{
  color: rgba(47, 47, 47, 0.574);
}
