@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

textarea{
  width: 100vw;
  max-width: 100%;
  height: 50px;
  border-radius: 10px;
  resize: none;
  background-color: #000000;
  font-size: large;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.textarea::placeholder{
  opacity: 0.5;
}

.chat-card{
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  color: aliceblue;
}
