.chat-card{
  background-color: #457b9d;
  width: 1000px;
  height: 500px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.chat-dialogue{
  background-color: #a8dadc;
  width: 800px;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
}
