@import "../../styles";

.input-wrapper{
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1.9px solid white;
  padding: .25rem;
}

.prompt-input{
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  background-color: #121212;
  border: none;
  color: white;
  font-size: large;
  padding: 5px;

}

.prompt-input:focus{
  outline: none;
  border-color: gray;
  border: none;
}
.prompt-input::placeholder{
  font-size: large;
  padding-left: 5px;
}

.form{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.send-but:hover {
  color: $color-hover;
}
